.recipeDetailContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "Segoe UI", sans-serif;
  background: #f7f7f7;
}

.notFound {
  text-align: center;
  margin-top: 100px;
}

/* Header */
.detailHeader {
  margin-bottom: 30px;
}

.detailHeader h1 {
  font-size: 40px;
  font-weight: 700;
  color: #1e1e1e;
  line-height: 1.3;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  color: #666;
}

/* Image + Meta */
.detailInfoGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}

.mainImage {
  width: 100%;
  height: 420px;
  object-fit: cover;
  /* border-radius: 14px; */
}

.metaBox {
  background: #f0eadf;
  padding: 25px;
  /* border-radius: 14px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
}

.metaBox p {
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* Info Boxes */
.infoBox {
  background: white;
  padding: 30px;
  /* border-radius: 14px; */
  margin-bottom: 30px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.infoBox h2 {
  margin-bottom: 20px;
  font-size: 22px;
  border-left: 4px solid #d6b98c;
  padding-left: 10px;
}

.infoBox ul {
  list-style: none;
  padding: 0;
}

.infoBox li {
  margin-bottom: 12px;
  font-size: 16px;
  display: flex;
  gap: 10px;
}

.infoBox p {
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  line-height: 1.6;
}

.stepNumber {
  background: #d6b98c;
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  flex-shrink: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .detailInfoGrid {
    grid-template-columns: 1fr;
  }

  .mainImage {
    height: 300px;
  }
}